* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
  background-color: black;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.intro video {
  height: 100%;
  width: 100%;
}

.intro-card {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: black;
}

.intro-card h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #ffffff;
  width: 100vw;
  text-align: center;
}

.intro-card h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #ffffff74;
}

section {
  height: 100vh;
  background-color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
  color: white;
}
